<% if @user.errors.any? %>
<div class="div-with-errors">
  <% @user.errors.full_messages.each do |msg| %>
    <div class="error-msg"><%= msg %></div>
  <% end %>
</div>
<% end %>

<%= form_for @user, url: {action: "create"}, html: {method: "post"} do |f| %>
  Username: <%= f.text_field :username, placeholder: 'Your username here' %>
  Email: <%= f.email_field :email, placeholder: 'example@example.com' %>
  Password: <%= f.password_field :password %>

  <%= f.submit "Submit" %>
<% end %>